/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/banner.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/button.css");



/* Utilities */
body {
  margin: 0;
  color:darkgrey;
  font-family: Roboto;
  background-color: white;
}


h1, h2, h3, h4 {
  font-family: Roboto;
  color: rgb(108,117,125);
}

a {
  text-decoration: none;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

i {
  font-size: 30px;
}